body {
    background-color: #101010;
    color: #F7F7F7;

    nav a,
    a {
        font-size: 24px;
        color: #FFF;
        margin: 0 10px;
    }

    #wesh {
        display: none;

        .yo {
            display: block;
        }
    }
}